* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
  background-color: #000000;
  color:#FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  justify-content: flex-start; /* Alinha o conteúdo ao topo */
  min-height: 100vh;
  padding-top: 20px;
  
  font-weight: bold;

}

/* Ajuste os 4 conteiners da tela para fica lado a lado*/
.dupla{
  display: flex;
  justify-content: space-between;
  width: 80%; 
  margin: 0 auto;
  margin-bottom: 4%;
}
.sentindo, .fazendo {
  width: 48%; 
}
.dupla2 {
  display: flex;
  justify-content: space-between; 
  width: 80%; 
  margin: 0 auto; 
}
.optionsMatch , .miniplaylist{
  width: 48%;
}
/*  Fim do ajuste de conteiners*/

.loginSpotify , .playlistButton{
  margin: 6%; 
}

.titulo{
  color: #1db954;
  margin-bottom: 3%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-size: 18px;
}

input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

button {
  background-color: #1db954;
  color: #000000;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/*  Cores press ou passar por cima botoes*/
button:hover {
  background-color: #04ee56;
}
button.selected {
  background-color: #04ee56;
}
/*Fim*/


.playlistButton p {
  color: rgb(176, 4, 4);
}

a {
  color: #1db954;
  text-decoration: none;
}

iframe{
  border-radius:12px ;   
}

input[type="range"] {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 20px;
  background: linear-gradient(to right, #b3b3b3, #1db954);
  border-radius: 15px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px;
}

input[type="range"].slider1::-webkit-slider-thumb {
  background: url('/src/img/feliz.jpg') no-repeat center;
  background-size: cover;
}

input[type="range"].slider2::-webkit-slider-thumb {
  background: url('img/entusiasmado1.jpg') no-repeat center;
  background-size: cover;
}

input[type="range"].slider3::-webkit-slider-thumb {
  background: url('img/relaxado.jpg') no-repeat center;
  background-size: cover;
}

img{
  width: 10%;
  height: 10%
}